@import "../variables.scss";
@import "../mixins.scss";
@import "../keyframes/slideAnimations.scss";
@import "../keyframes/buttonWobble.scss";

.row {
  width: 100%;
}

.form-modal-warning {
  color: $error;
}

.form-modal-exceptions {
  font-size: $m-size;
  color: $primary-gray;
  font-weight: 700;
}

.form-container {
  @include flexbox(flex-start, space-between);
  @include margin-center;
  width: 100%;
  text-align: center;
  padding: $s-size;
  flex-direction: row;
  overflow: auto;
}

//validation styles
.is-valid {
  border: 2px solid $correct;
}

.is-not-valid {
  border: 2px solid $error;
}

//image section
.form-image-container {
  @include flexbox(center, space-around);
  @include flex-direction(column);
  width: 100%;
  height: calc(100vh - 60px);
}
h2 {
  margin-bottom: 50px;
  font-weight: 600;
  color: $primary-light;
  animation: slideFromLeft 2s ease forwards;
}

.form-image {
  max-height: 200px;
  width: 100%;
  opacity: 0;
  animation: slideFromRight 2s ease forwards;
  animation-delay: 300ms;
}

//mobile arrow icon to scroll to form
.form-image-arrow {
  display: block;
}

.arrow-icon {
  @include icon($xl-size, $primary-light);
}

//all fields / inputs container
.form-fields {
  width: 90%;
  max-width: 600px;
  background-color: $primary-dark;
  padding: 20px;
  margin: 0 auto;
  margin-bottom: 50px;
  opacity: 0;
  animation: slideFromRight 2s ease 0.7s forwards;
}
//container for label and input
.form-input-container {
  text-align: left;
}
//placeholder
.form-input {
  align-items: flex-start;
  &::placeholder {
    font-size: $m-size;
  }
}

.form-label {
  color: $primary-gray;
  font-size: $m-size;
}

//input styles for correct / incorrect values
.form-input-inner {
  .error-text {
    color: $error;
    font-weight: 700;
    font-size: $s-size;
  }
}

//photo upload buttons
.form-buttons {
  display: flex;
  justify-content: center;
  width: 60%;
  margin: 10px auto;

  .button-text {
    font-size: $m-size;
  }
}

.waiting-for-upload {
  animation: buttonWobble 800ms ease-in-out infinite;
}

.upload-notification {
  color: $correct;
  font-size: $m-size;
  font-weight: 700;
  margin-bottom: $m-size;
  align-items: center;
}

@media screen and (min-width: 992px) {
  .add-vehicle-container {
    height: 100vh;
  }

  .form-image-container {
    height: 100%;
  }
  .form-image-arrow {
    display: none;
  }
}
