@import "../../styles/keyframes/slideAnimations.scss";
@import "../../styles/keyframes/fadeIn.scss";
@import "../../styles/variables.scss";

#form {
  opacity: 0;
  animation: slideFromRight 1.5s ease 1s forwards;
}

#forminner {
  opacity: 0;
  animation: slideFromRight 1.5s ease 1.5s forwards;
}

#forminnertext {
  opacity: 0;
  animation: fadeIn 1s ease 2s forwards;
}

#tickform {
  opacity: 0;
  animation: slideFromTop 1s ease 2.5s forwards;
}

#camerabutton {
  animation: click 1s ease-in-out forwards;
}

@keyframes click {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(0);
  }
}
