@import "./variables.scss";
@import "./mixins.scss";
@import "./keyframes/fadeIn.scss";

.bg-img-headlights {
  @include backgroungImg("../assets/images/headlights.jpg", $primary-gray, 0.3);
}

.bg-main {
  background: $primary-blue;
}

.bg-alt {
  background: $secondary;
}

.bg-third {
  background: $primary-gray;
}

.bg-black {
  background-color: $primary-dark;
}

.bg-gray {
  background-color: $primary-gray;
}