@import "./variables.scss";
@import "./mixins.scss";

//no cars added
.empty {
  @include center-absolute;
  width: 50%;
  text-align: center;

  h2 {
    padding: 10px;
    color: $primary-light;
  }
}

//fuel type colors
.Petrol {
  color: $petrol;
}

.LPG {
  color: $lpg;
}

.Diesel {
  color: $diesel;
}

.types-text {
  display: none;
}

.types-icon {
  margin-right: 5px;
}

//if car is added
.vehicle-card {
  @include flexbox(center, flex-start);
  width: 90%;
  height: 120px;
  margin: $xl-size auto;
  padding: 6px;
  background-color: $main;
  position: relative;
  text-align: center;

  //interactive icons
  .interaction-icon {
    @include icon($m-size, $primary-dark);
    z-index: 10;
  }

  .edit,
  .remove {
    position: absolute;
    top: 10px;
    transition: all 300ms ease-in-out;
  }

  .slide-details {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: $primary-blue;
    animation: pulse 3s infinite;
  }

  .edit:hover,
  .remove:hover,
  .slide-details:hover {
    transform: scale(1.4);
    transition: all 300ms ease-in-out;
  }

  .edit {
    right: 40px;

    &:hover {
      color: $secondary-blue;
    }
  }

  .remove {
    right: 10px;

    &:hover {
      color: $remove;
    }
  }

  //vehicle photo
  .vehicle-card-img-container {
    width: 30%;
    height: 90%;
    margin-right: $s-size;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  //card body
  .vehicle-card-body {
    @include flexbox(flex-start, center);
    @include flex-direction(column);
    position: relative;
    width: 90%;
    height: 90%;
    padding: 10px;

    .card-left,
    .card-right {
      width: 100%;
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }

    //left side
    .card-left {
      .card-left-heading,
      .reg-num {
        margin-bottom: 5px;
      }

      .card-left-heading {
        h6 {
          margin: 0;
        }
      }

      .reg-num {
        color: $primary-gray;
        font-size: $m-size;
        font-weight: 700;
      }

      .types {
        @include flexbox(flex-start, space-evenly);
        font-size: $s-size;

        .types-holder {
          align-items: center;
        }
      }
    }

    //right side
    .card-right {
      .card-right-text-holder {
        @include flexbox(flex-start, space-around);

        .card-right-text {
          font-size: $s-size;

          .icon-text {
            display: none;
          }
        }
      }

      .link {
        font-size: $s-size;
        text-decoration: none;
        color: $primary-gray;

        &:hover {
          color: $primary-dark;
        }

        .link-icon {
          display: none;
        }
        .hovered {
          display: inline-block;
        }
      }
    }
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@media screen and (min-width: 992px) {
  .vehicle-card {
    width: 50%;
    height: 150px;

    .vehicle-card-body {
      .card-left {
        .card-left-heading {
          h6 {
            font-size: $xl-size;
          }
        }

        .reg-num {
          margin-bottom: $s-size;
        }

        .types {
          font-size: $m-size;
        }
      }

      .card-right {
        .card-right-heading {
          h6 {
            font-size: $xl-size;
          }
        }

        .card-right-text-holder {
          .card-right-text {
            font-size: $m-size;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1400px) {
  .types-text {
    display: inline-block;
  }
}
