//color variables
$primary-blue: #056ef0;
$secondary-blue: #72b1ff;
$alt: #1A1A1A;
$primary-dark: #232323;
$secondary-dark: rgb(3, 35, 64);
$primary-gray: #676767;
$primary-light: #ffffff;

//size variables
$xs-size: 8px;
$s-size: 10px;
$m-size: 12px;
$l-size: 18px;
$xl-size: 22px;

$error: #dc3545;
$correct: #02aa1e;
$remove: rgb(199, 199, 199);
