//color variables
$primary-blue: #056ef0;
$secondary-blue: #72b1ff;
$primary-dark: #232323;
$secondary-dark: rgb(3, 35, 64);
$primary-gray: #9ea2a2;
$primary-light: #ffffff;
$remove: rgb(220, 53, 69);

$main: rgb(148, 5, 34);
$alt: #1A1A1A;
$third: #c1c0c5;

//size variables
$xs-size: 8px;
$s-size: 10px;
$m-size: 12px;
$l-size: 18px;
$xl-size: 22px;

//fuel variables
$petrol: #007313;
$lpg: #c40010;
$diesel: #000000;

$error: #dc3545;
$correct: #02aa1e;
