@import "../../../variables.scss";

.vehicle-container {;
  .vehicle-heading {
    background-color: $primary-dark;
    .vehicle-title {
      font-size: 30px;
      color: $primary-light;
    }
  }

  .vehicle-details {
    background-color: $secondary-blue;
    .vehicle-details-text {
      font-weight: 900;
    }
  }
}
