@import "../../variables.scss";

.form-container {
  text-align: center;
  padding: $s-size;
  display: flex;
  flex-direction: row;

  //validation styles
  .is-valid {
    border: 2px solid $correct;
  }

  .is-not-valid {
    border: 2px solid $error;
  }

  //image section
  .form-image-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: calc(100vh - 60px);

    h2 {
      margin-bottom: 50px;
      font-weight: 600;
      color: $primary-light;
    }

    .form-image {
      max-height: 200px;
      width: 100%;
    }

    //mobile arrow icon to scroll to form
    .form-image-arrow {
      display: block;
      cursor: pointer;

      .arrow-icon {
        color: $primary-light;
        font-size: 28px;
      }
    }
  }

  //all fields / inputs container
  .form-fields {
    width: 100%;
    background-color: $primary-dark;
    padding: 20px;
    margin: 0 auto;

    //container for label and input
    .form-input-container {
      text-align: left;

      //placeholder
      .form-input {
        align-items: flex-start;
        &::placeholder {
          font-size: $m-size;
        }
      }

      .form-label {
        color: $primary-gray;
        font-size: $m-size;
      }

      //input styles for correct / incorrect values
      .form-input-inner {
        .error-text {
          color: $error;
          font-weight: 700;
          font-size: $m-size;
        }
      }
    }

    //photo upload buttons
    .form-buttons {
      display: flex;
      justify-content: center;
      width: 60%;
      margin: 10px auto;

      .button-text {
        font-size: $m-size;
      }
    }
  }
}
