@import "../../variables.scss";

.form-container {
  text-align: center;
  .form-image-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px;
    h2 {
      margin-bottom: 50px;
      font-weight: 600;
      color: $primary-light;
    }

    .form-image {
      max-height: 200px;
    }
  }
}
