@import "../../variables.scss";

.page-section {
  padding: 100px;
}

//fuel type colors
.Petrol {
  color: $petrol;
}

.LPG {
  color: $lpg;
}

.Diesel {
  color: $diesel;
}

.vehicle-card {
  width: 50%;
  margin: 0 auto;
  min-height: 200px;
  padding: 20px;
  background-color: $primary-light;
  display: flex;
  align-items: center;
  position: relative;

  .edit,
  .remove {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 10px;
    transition: all 300ms ease-in-out;
    cursor: pointer;
  }

  .edit:hover,
  .remove:hover {
    transform: scale(1.4);
    transition: all 300ms ease-in-out;
  }

  .edit {
    right: 50px;

    &:hover {
      color: $secondary-blue;
    }
  }

  .remove {
    right: 20px;

    &:hover {
      color: $remove;
    }
  }

  .vehicle-card-img-container {
    width: 40%;
    object-fit: cover;

    img {
      height: 100%;
      width: 100%;
    }
  }

  .vehicle-card-body {
    width: 80%;
    padding: 20px;
    display: flex;
    justify-content: space-around;

    .body-left,
    .body-right {
      padding: 20px;
    }

    .body-left {
      border-right: 1px solid $primary-dark;

      .reg-num {
        color: $primary-gray;
      }
    }

    .body-right {
      .link {
        font-size: $m-size;
        a {
          text-decoration: none;
          color: $primary-gray;

          &:hover {
            color: $primary-dark;
          }

          .link-icon {
            display: none;
          }
          .hovered {
            display: all;
          }
        }
      }
    }
  }
}

.details-col {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

@media screen and (max-width: 1200px) {
  .vehicle-card,
  .vehicle-card-body {
    flex-direction: column;
  }

  .vehicle-card {
    .vehicle-card-img-container {
      width: 70%;
      margin-bottom: 20px;
    }

    .vehicle-card-body {
      width: 70%;
      justify-content: space-around;
      padding: 0;

      .body-left,
      .body-right {
        display: block;
        align-items: center;
        padding: 0;
      }

      .body-left {
        border: none;
        border-bottom: 1px solid $primary-dark;
        padding-bottom: 20px;
        margin-bottom: $m-size;

        .types {
          display: flex;
          justify-content: space-between;
          padding: $m-size;

          .icon-holder {
            display: flex;
            flex-direction: column;
            align-items: center;
          }
        }
      }
    }
  }
}
