@import "~bootstrap/scss/bootstrap";
@import "./variables.scss";
@import "./styles/FormStyles.scss";
@import "./styles//Home.scss";
@import "./styles/MyFleet.scss";
@import "./styles/Navbar.scss";
@import "./styles/SlideToTop.scss";
@import "./styles/Modal.scss";

.page-section {
  min-height: 100vh;
  width: 100%;
  padding: 50px;
}