@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Ubuntu", "Roboto", "sans-serif";
}

.page-section {
  min-height: 100vh;
  width: 100%;
  padding: 50px;
}

.bg-primary {
  background-color: $primary-blue;
}

.bg-secondary {
  background-color: $secondary-blue;
}

.bg-black {
  background-color: $primary-dark;
}

.bg-gray {
  background-color: $primary-gray;
}

.is-hidden {
  display: none;
}

.mobile-arrow-to-top {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 100;

  .arrow-to-top-icon {
    width: $l-size;
    height: $l-size;
    color: $primary-light;
    cursor: pointer;
  }
}

@media screen and (max-width: 769px) {
  .mobile-arrow-to-top {
    display: block;
  }
}
