@import "./App.scss";
@import "./styles/variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Ubuntu", "Roboto", "sans-serif";
}

.bg-main {
  background: $main;
}

.bg-alt {
  background: $secondary;
}

.bg-third {
  background: $third;
}

.bg-black {
  background-color: $primary-dark;
}

.bg-gray {
  background-color: $primary-gray;
}
