//color variables
$primary-blue: #056ef0;
$secondary-blue: #72b1ff;
$primary-dark: #232323;
$primary-light: #ffffff;
$remove: rgb(220, 53, 69);

//size variables
$s-size: 10px;
$m-size: 12px;
$l-size: 18px;
$xl-size: 22px;
