//color variables
$primary-blue: #056ef0;
$secondary-blue: #72b1ff;
$primary-dark: #232323;
$secondary-dark: #032340;
$primary-gray: #9ea2a2;
$primary-light: #ffffff;
$remove: rgb(220, 53, 69);

//size variables
$s-size: 10px;
$m-size: 12px;
$l-size: 18px;
$xl-size: 22px;

//fuel variables
$petrol: #007313;
$lpg: #c40010;
$diesel: #000000;
